:root {
    --primary-text-color: #212121;
--secondary-text-color: #757575;
--accent-color: #2196F3;
--accent-color-button: #188CE8;
--primaty-white-color: #FFFFFF;
--primary-background-color:#F5F5F5;
--background-color-title: #2F303A;
--portfolio-button-color: #F5F4FA;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*header*/

.logo {
    font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
color: var(--accent-color);
text-decoration: none;
}
.logo-right {
    color: var(--primary-text-color);
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.header-link {
    color: var(--primary-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.header-contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
}

/*main*/

/*hero*/

.hero {
     background-color: var(--background-color-title);
}

.hero-title {
    color: var(--primaty-white-color);
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
}

.button {
    color: var(--primaty-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color-button);
}

/*feature*/

.visually-hidden {
    border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; 
}

.feature-title {
line-height: 1.14;
font-size: 14px;
}

.feature-text {
    color: var(--secondary-text-color);
line-height: 1.71;
}

/*works*/

.works-title,
.team-title {
font-size: 36px;
line-height: 1.17;
text-align: center;
}

/*team*/

.team {
    background-color: var(--portfolio-button-color);
}

.team-item {
    background-color: var(--primaty-white-color);
}

.team-names {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team-text {
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--secondary-text-color);
}

/*footer*/

.footer {
    background-color: var(--background-color-title);
    font-style: normal;
}
 
.footer .logo-right {
    color: var(--primaty-white-color);
}

.footer-text {
line-height: 1.71;
color: var(--primaty-white-color);
}
.footer-link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

/*PORTFOLIO*/

.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
  background-color: var(--portfolio-button-color);
  color: var(--primary-text-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primaty-white-color);
    background-color: var(--accent-color);
}

.portfolio-title {
    color: var(--primary-text-color);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.portfolio-text {
font-size: 16px;
line-height: 1.88;
color: var(--secondary-text-color);
}